#title {
	font-size: 30px;
	color: pink;
	
}



#mainNav {
	background-color: blue;
}




#first {
	background-color: white;
	margin-top: 75px;
	height: 390px;
	color: black;

	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#second {
	background-color: #01ACE2;
	
	height: 350px;
	color: white;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.navbar-brand {
	font-size: 30px !important;
	color: white !important;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	margin-top: 8px;

}

.navbar-default {
	background-color: #18191D !important;
	
}

.img-responsive {
	margin: 0 auto;
}


.fa-square {
	font-size: 25px !important;
}

#slogan {
	font-size: 20px;
	font-style: italic;
}

img {
	height: 250px;
	width: 250px;
}

.navbar {
	height: 30px
}

button {
	margin-top: 50px !important;
	height: 200px;
	width: 200px;
}
